.card-container {
    position: relative;
    width: 100%;
}

.card-container img {
    width: 100%;
    height: auto;
    display: block;
}

.card-bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Adapte a cor de fundo conforme necessário */
    padding: 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-bg h1{
    font-size: 2rem;
    font-family: 'poppins';
    font-weight: 500;
    color: #000;
}

.card-bg h2{
    font-size: 1rem;
    font-family: 'poppins';
    font-weight: 500;
    color: #000;
}

.card-bg a{
    font-size: 1.3rem;
    font-family: 'poppins';
    font-weight: 500;
    color: white;
    text-decoration: none;
    border: 1px solid;
    background-color: #56B280;
    padding: 1rem;
    border-radius: 5px;
}

.center-cards{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-products{
    display: flex;
    text-align: center;
    margin-top: 2rem;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}

#title{
    font-size: 1.5rem;
    font-family: 'poppins';
    font-weight: 600;
    color: #0B254B;
    text-align: center;
    margin-top: 1.5rem;
}

#sub-title{
    font-size: 1rem;
    font-family: 'poppins';
    font-weight: 500;
    color: #5E6E89;
    text-align: center;
}

.cards-products{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 85%;
}

.product-card{
    flex-basis: calc(33.33% - 20px); /* Defina a largura desejada para cada item */
    flex-grow: 1; /* Permitir que os itens cresçam para ocupar todo o espaço disponível */
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    background: #F7F8FA;
    border-radius: 1rem;
}

.product-card p{
    font-size: 1.2rem;
    font-family: 'poppins';
    font-weight: 500;
    color: #1D293F;
    text-align: left;
}

.product-card #price{
    color: #56B280;
    font-size: 1.3rem;
    font-family: 'poppins';
    font-weight: 500;
}

.product-card #edit-img{
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.info-card{
    padding: 1rem;
    background: white;
}

.center-img{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 8px;
    align-items: center;
}

.center-img img{
    width: 2rem;
    height: auto;
}

.div-filter {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

#input-filter{
    width: 70%;
    border: 1px solid #5d5d5d;
    border-radius: 8px;
    padding: 8px;
}

#filter{
    padding: 6px;
    border: 1px solid;
    border-radius: 8px;
}

#filtro-form{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}

#enviar{
    padding: 8px 2rem;
    border-radius: 8px;
}

#new-product{
    padding: 1rem;
    text-align: center;
    background: #A5FA97;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-family: 'roboto';
    font-weight: 500;
}