{% extends 'base.html' %}
{% load static %}

{% block main %}
    
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<h1 id="titulo">Cadastrar</h1>

<div class="container-login">

    <div class="img-center">
        <img id="img-pass" src="{% static 'img/authentication.png' %}" alt="Alt">
    </div>
    <div class="div-login">
        <form action="{% url 'cadastro' %}" method="post" class="form-login">
            {% csrf_token %}
            
            <label for="id_username">Nome de usuário:</label>
            <input type="text" name="username" id="id_username" placeholder="Nome de usuário">
        
            <label for="id_password1">Senha:</label>
            <input type="password" name="password1" id="id_password1" placeholder="Senha">
        
            <label for="id_password2">Confirmar Senha:</label>
            <input type="password" name="password2" id="id_password2" placeholder="Confirmar senha">
        
            <button type="submit">Cadastrar</button>
        </form>
    </div>

</div>

{% endblock main %}
    