{% extends 'base.html' %}
{% load static %}


{% block main %}
    <link rel="stylesheet" href="{% static 'css/castrado.css' %}">

<div class="container-cadastro">
  
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Cadastrar Produto</h1>
        {{form.nome}}
    
        <p>Descrição do Produto:</p>
        {{form.descricao}}

        <div class="center-img-valor">
            {{form.imagem}}
            
            <div class="cernter">
                <p>Categoria:</p>
                {{ form.categoria }}
                
                {{form.preco}}
            </div>
        </div>
        <div class="center-submit">
            <input type="submit" value="Enviar" id="enviar">
        </div>
    </form>
</div>



{% endblock main %}