{% load static %}

<div class="container-products">

    {% for produto in produtos %}
        <div class="product-card">
            <a href="{% url 'pag_product' id=produto.id %}" id="edit-img">
                <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" onerror="this.src='{% static 'img/image._1.png' %}'">
            </a>
            <div class="info-card">
                <p>{{ produto.nome }}</p>
                <p id="price">{{ produto.preco }}</p>
                {% if user.is_superuser %}
                <div class="center-img">
                    <a href="{% url 'produto_remover' id=produto.id %}" id="excluir">
                        <img src="{% static 'img/trash.png' %}" alt="">
                    </a>
                    <a href="{% url 'produto_editar' id=produto.id %}" id="editar">
                        <img src="{% static 'img/pencil.png' %}" alt="">
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    
</div>